<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Twitter Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
     <link href="../dist/css/tw-admin.css" rel="stylesheet"> 

    <!-- Morris Charts CSS -->
    <link href="../components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<style>
.buttondemoBasicUsage section 
{
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; 
  }

.buttondemoBasicUsage md-content 
{
  margin-right: 7px; 
  }
  
.buttondemoBasicUsage section .md-button 
{
  margin-top: 16px;
  margin-bottom: 16px; }
  
.buttondemoBasicUsage .label 
{
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }
  
 </style> 

<script type="text/javascript">
var selectedEventName = "#abc";

function setEventName(eventName){
	selectedEventName = eventName;
	alert(selectedEventName);
}
</script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
            <i class="fa fa-twitter fa-fw"></i>
                <a class="navbar-brand" href="/">Twitter Dashboard</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                       
                        <li>
                            <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                       <!--  <li>
                            <a href="/charts"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</a>                         
                        </li>    -->
                        <li>
                            <a href="/events"><i class="fa fa-bullhorn fa-fw"></i> Create Event</a>
                        </li>  
                         <li>
                            <a href="/viewevents"><i class="fa fa-newspaper-o fa-fw"></i> My Events</a>
                        </li>
   
                        </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
        <br>

			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Events</h3>
				</div>
				<div class="panel-body">
				
					<table class="table table-bordered">
						<thead>
							<tr class="info">
								<th>Event Name</th>
								<th>Tag</th>
								<th>Target</th>
								<th>Users</th>
							</tr>
						</thead>
						
						<tbody>
	 						<% events_list.forEach(function(event){ %>
							<tr>
								<td><%= event.name %></td>
								<% var paramname = event._id.replace('#','');%>
								<td><a href="/dashboard?id=<%= paramname %>"><%= event._id %></a></td>
								<td><%= event.target_twitts %></td>
								<td>
									<% event.users.forEach(function(user){ %>
										 <%= user.name %>
									<% }); %>
								</td>
							</tr>
							<% }); %>							
						</tbody>
					</table>
					</div>	
					<!-- <a class="twitter-timeline" href="https://twitter.com/khooni_murga" data-widget-id="597311785767567360">
						Tweets by @HistoryFlick
					</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
					</script> -->
					
<!-- 					<a class="twitter-timeline" href="https://twitter.com/khooni_murga" data-widget-id="597311785767567360">
					Tweets by @khooni_murga
					</a>
					<script>
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
					</script>
					
					
					<a class="twitter-timeline" href="https://twitter.com/hashtag/ipl" data-widget-id="597313675720990721">#ipl Tweets</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
 -->

			
			</div>

    	</div>	 
   <!-- 	page wrapper	 -->
   	   	
   	</div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../components/raphael/raphael-min.js"></script>
    <script src="../components/morrisjs/morris.min.js"></script>
    <script src="../js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/admin.js"></script>
    
  

</body>

</html>
										
   	
